body{
  overflow:hidden;
  background-color: #4D4D4D;
}
#Wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#left{
  position: absolute;
  margin-top: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  width: auto;
}
#right{
  position: absolute;
  margin-top: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  width: auto;
  margin-left: auto;
  right: 0;
  transform: rotateY(180deg);
}
img{
  height: 100%;
  width: 100%;
}

h1{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 90px;
}
